<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">

	<servlet>
		<servlet-name>Controller</servlet-name>
		<servlet-class>ru.curs.flute.webrunner.ServerControl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>/start</url-pattern>
		<url-pattern>/stop</url-pattern>
		<url-pattern>/getstate</url-pattern>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<listener>
		<listener-class>ru.curs.flute.webrunner.AppEventsListener</listener-class>
	</listener>
</web-app>